.error {
    color: red;
    display: none;
}

input {
    width: 500px;
    height: 50px;
    margin: 20px;
    background-color: whitesmoke;
    border: 1px solid black;
}

button {
    width: 500px;
    height: 50px;
    margin: 20px;
    background-color: #e8d4d4;
}